<p class="inline-small-label" style: "margin-bottom:20px;" >
				<label for="ane_cne">Cne</label>
				<select name="ane[cne]" id="ane_cne">
				<% @cne.each do |cn| %>
				<option><%= cn.name %></option>
				<% end %>
				</select>
			</p>